{
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": [
        "standard",
        "plugin:react/recommended"
    ],
    "rules": {
        "indent": ["error", 4]
    },
    "env": {
        "jquery": true
    }
}
