{
    "plugins": [
        "react",
        "immutable"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": [
        "standard",
        "plugin:react/recommended"
    ],
    "rules": {
        "indent": ["error", 4],
        "camelcase": 2,
        "immutable/no-let": 2,
        "immutable/no-mutation": 2
    },
    "env": {
        "jquery": true
    }
}
