body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.notification-success {
    background-color: #4CAF50 !important;
}

.notification-error {
    background-color: #F44336 !important;
}

.notification {
    box-shadow: none !important;
 /*   font-size: 1.5em !important;*/
}

.notification-container {
    min-width: 320px !important;
    max-width: 500px !important;
}

.link {
    cursor: pointer;
}

.collection a {
    cursor: pointer;
}

.item-card {
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    width: 120px;
    cursor: pointer;
    display: inline-block;
}

.payment-glyph {
    width: 100%;
    text-align: center;
    font-size: 80px;
}

.item-card h5 {
    text-align: center;
    font-size: 20px;
    margin: 5px 0 0 0;
}

.item-card img {
    width: 118px;
    height: 118px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item-card > * {
    pointer-events: none;
}

.name-truncate {
    width: 120px;
    padding-left: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 125%;
}

#content > .col {
    padding-right: 3px !important;
    padding-left: 3px !important;
}

.hide {
    display: none;
}

.price {
    padding-left: 2px;
}

.checkout{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cart {
    display: inline-block;
    right: 0 !important;
    left: auto !important;
    height: 100%;
    z-index: auto;
}

.full-height {
    height: 100%;
}

.pos-container {
    height: calc(100% - 56px);
    width: 100%;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background-color: lightgrey;
    -webkit-border-radius: 0;
}
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    -webkit-border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
    background-color: grey;
}

.collection .collection-item.avatar {
    min-height: 56px !important;
}

.numpad {
    height: 350px;
    display: flex;
    flex-flow: row wrap;
}

.bill-pad {
    height: 150px;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}

.button {
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    background-color: #00BCD4;
    color: white;
    border: 1px solid rgba(255, 255, 255, .25);
}

.button:nth-of-type(10) {
     flex-basis: 66.6667%;
 }

.button:hover {
     background-color: #66D7E6;
}

.numpad-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
    height: 100%;
    position: relative;
    margin-top: -19px;
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align:center;
}

.img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
    width: 200px;
    height: 200px;
}
