body {
    background-color: white;
}

.item-card {
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    width: 120px;
    border-radius: 3px;
    border: 1px solid lightgray;
}

.item-card img {
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name-truncate {
    width: 120px;
    padding-left: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 125%;
}


.hide {
    display: none;
}

.price {
    padding-left: 2px;
}

.checkout{
    width: 100%;
    padding-top: 10px;
    background-color: white;
    padding-bottom: 10px;
}

.cart {
    display: inline-block;
    right: 0 !important;
    left: auto !important;
    height: 100%;
    z-index: auto;
}

.full-height {
    height: 100%;
}

.pos-container {
    position: absolute;
    width: 100%;
    height: calc(100% - 84px);
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background-color: lightgrey;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: grey;
}

.collection .collection-item.avatar {
    min-height: 56px !important;
}