body {
    background-color: white;
}

.modal.modal-fixed-footer {
    width: 75% !important;
    height: 90% !important;
    max-height: 100% !important;
    overflow-y: hidden !important;
    top: 15px !important;
}



.notification-success {
    background-color: #26a69a !important;
}

.notification-error {
    background-color: #f44336 !important;
}

.notification {
    box-shadow: none !important;
    font-size: 1.5em !important;
}

.notification-container {
    min-width: 320px !important;
    max-width: 500px !important;
}

input[type="search"] {
    height: 64px !important;
}

ul.search-list {
    margin-left: 100px;
}

.link {
    cursor: pointer;
}

.collection a {
    cursor: pointer;
}

.brand-logo {
    margin-left: 10px;
}

.item-card {
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    width: 120px;
    border-radius: 3px;
    border: 1px solid lightgray;
    cursor: pointer;
    display: inline-block;
}

.payment-glyph {
    width: 100%;
    text-align: center;
    font-size: 80px;
}

.item-card h5 {
    text-align: center;
}

.item-card img {
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item-card > * {
    pointer-events: none;
}

.name-truncate {
    width: 120px;
    padding-left: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 125%;
}

#content > .col {
    padding-right: 3px !important;
    padding-left: 3px !important;
}

.hide {
    display: none;
}

.price {
    padding-left: 2px;
}

.checkout{
    width: 100%;
    padding-top: 10px;
    background-color: white;
    padding-bottom: 10px;
}

.cart {
    display: inline-block;
    right: 0 !important;
    left: auto !important;
    height: 100%;
    z-index: auto;
}

.full-height {
    height: 100%;
}

.pos-container {
    position: absolute;
    width: 100%;
    height: calc(100% - 77px);
    margin-bottom: 0px !important;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background-color: lightgrey;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: grey;
}

.collection .collection-item.avatar {
    min-height: 56px !important;
}